params {
    outdir = "results"
    publish_dir_mode = "copy"
    save_trimmed = false
}

process {
    withName: 'SEQKIT_STATS' {
        ext.args = '--all'
    }

    withName: 'TRIMGALORE_HARDTRIM' {
        ext.args = { "--hardtrim5 ${meta.resolved_trim_length}" }
        ext.prefix = { "${meta.id}_equalised" }
    }
}
