/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    test_data_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules'
    modules_testdata_base_path = 's3://ngi-igenomes/testdata/nf-core/modules/'
    extra_star_align_args = '--runRNGseed 0'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners

process {

    // Override modules.config so module snapshots match

    withName: GFFREAD {
        ext.args = null
    }

    //
    // Snapshot stability: add seeds and deterministic ordering to production args
    //

    withName: FQ_SUBSAMPLE {
        ext.args = '--record-count 1000000 --seed 1'
    }

    withName: RIBODETECTOR {
        ext.args = '-e rrna --seed 1'
        cpus = 1
    }

    withName: BOWTIE2_ALIGN {
        ext.args = { "--very-sensitive-local --un-gz ${meta.id}.non_rRNA.fastq.gz --seed 1 --reorder" }
    }

    withName: BOWTIE2_ALIGN_PE {
        ext.args = '--very-sensitive-local --seed 1 --reorder'
    }

    withName: '.*:BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_(GEN|TRANSCRIPT)OME:UMITOOLS_DEDUP' {
        ext.args = { [
            meta.single_end                 ? '' : '--unpaired-reads=discard --chimeric-pairs=discard',
            params.umitools_grouping_method ? "--method='${params.umitools_grouping_method}'" : '',
            params.umitools_umi_separator   ? "--umi-separator='${params.umitools_umi_separator}'" : '',
            '--random-seed=100'
        ].join(' ').trim() }
    }

    withName: 'RIBOTISH.*' {
        cpus = 1
    }
}
