/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

// Impose sensible resource limits for testing
process {
    withName: '.*' {
        cpus   = 2
        memory = 3.GB
        time   = 2.h
    }
}

params {
    test_data_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules'
    modules_testdata_base_path = 's3://ngi-igenomes/testdata/nf-core/modules/'
    hisat2_build_memory = '3.GB'
}

includeConfig 'https://raw.githubusercontent.com/nf-core/modules/0094ae45ba8f5a2e30644d4e252970775a03ee91/tests/config/test_data.config'
