/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    
    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: HISAT2_BUILD {
        ext.args = ''
        ext.when = true
    }

    withName: CUTADAPT {
        ext.args = "--trim-n -O 1 -m 5 -a ${params.adapter_sequence} --minimum-length 15"
    }

    withName: UMITOOLS_EXTRACT {
        ext.args = params.umi_regexp ? "--bc-pattern='${params.umi_regexp}' --extract-method=regex" : ''
    }

    

    withName: HISAT2_ALIGN_rRNA {
        ext.args = "-N 1 -k 1 --un-gz nonrRNA.fastq.gz --no-unal"
        ext.args2 = '--met-stderr --new-summary --dta'
    }

    
    
    

    withName: HISAT2_ALIGN_transcriptome {
        ext.args = "-k 2 --no-spliced-alignment --rna-strandness F --no-unal"
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
